<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang Home</h1>
        <p>Trang này hiển thị danh sách sản phẩm kèm hình ảnh</p>
        <p>Bạn có thể chọn sản phẩm và mua hàng tại đây</p>
    </div>
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select class="form-control product-category">
            <option selected disabled>Danh mục sản phẩm</option>
            <option value="">Đồ điện tử</option>
            <option value="">Hải sản</option>
            <option value="">Bánh kẹo</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia dicta officia error accusantium consectetur fugiat ab nihil quaerat! Corporis quis obcaecati, cum earum inventore velit ad deserunt officiis quam natus!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <div class="btn btn-primary">
                        Thêm vào giỏ hàng
                    </div>
                    <span class="space-x"></span>
                    <div class="btn btn-success">Mua ngay</div>
                </div>
            </div> 
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia dicta officia error accusantium consectetur fugiat ab nihil quaerat! Corporis quis obcaecati, cum earum inventore velit ad deserunt officiis quam natus!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <div class="btn btn-primary">
                        Thêm vào giỏ hàng
                    </div>
                    <span class="space-x"></span>
                    <div class="btn btn-success">Mua ngay</div>
                </div>
            </div> 
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia dicta officia error accusantium consectetur fugiat ab nihil quaerat! Corporis quis obcaecati, cum earum inventore velit ad deserunt officiis quam natus!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <div class="btn btn-primary">
                        Thêm vào giỏ hàng
                    </div>
                    <span class="space-x"></span>
                    <div class="btn btn-success">Mua ngay</div>
                </div>
            </div> 
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia dicta officia error accusantium consectetur fugiat ab nihil quaerat! Corporis quis obcaecati, cum earum inventore velit ad deserunt officiis quam natus!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <div class="btn btn-primary">
                        Thêm vào giỏ hàng
                    </div>
                    <span class="space-x"></span>
                    <div class="btn btn-success">Mua ngay</div>
                </div>
            </div> 
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia dicta officia error accusantium consectetur fugiat ab nihil quaerat! Corporis quis obcaecati, cum earum inventore velit ad deserunt officiis quam natus!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <div class="btn btn-primary">
                        Thêm vào giỏ hàng
                    </div>
                    <span class="space-x"></span>
                    <div class="btn btn-success">Mua ngay</div>
                </div>
            </div> 
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia dicta officia error accusantium consectetur fugiat ab nihil quaerat! Corporis quis obcaecati, cum earum inventore velit ad deserunt officiis quam natus!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <div class="btn btn-primary">
                        Thêm vào giỏ hàng
                    </div>
                    <span class="space-x"></span>
                    <div class="btn btn-success">Mua ngay</div>
                </div>
            </div> 
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia dicta officia error accusantium consectetur fugiat ab nihil quaerat! Corporis quis obcaecati, cum earum inventore velit ad deserunt officiis quam natus!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <div class="btn btn-primary">
                        Thêm vào giỏ hàng
                    </div>
                    <span class="space-x"></span>
                    <div class="btn btn-success">Mua ngay</div>
                </div>
            </div> 
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia dicta officia error accusantium consectetur fugiat ab nihil quaerat! Corporis quis obcaecati, cum earum inventore velit ad deserunt officiis quam natus!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <div class="btn btn-primary">
                        Thêm vào giỏ hàng
                    </div>
                    <span class="space-x"></span>
                    <div class="btn btn-success">Mua ngay</div>
                </div>
            </div> 
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia dicta officia error accusantium consectetur fugiat ab nihil quaerat! Corporis quis obcaecati, cum earum inventore velit ad deserunt officiis quam natus!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke">  </i>
                </div>
                <div class="product-actions">
                    <div class="btn btn-primary">
                        Thêm vào giỏ hàng
                    </div>
                    <span class="space-x"></span>
                    <div class="btn btn-success">Mua ngay</div>
                </div>
            </div> 
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia dicta officia error accusantium consectetur fugiat ab nihil quaerat! Corporis quis obcaecati, cum earum inventore velit ad deserunt officiis quam natus!</p>
                <p class="product-warranty">Bảo hành: 12 tháng</p>
                <p class="product-price">Giá: <del>$200</del> $100</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <div class="product-actions">
                    <div class="btn btn-primary">
                        Thêm vào giỏ hàng
                    </div>
                    <span class="space-x"></span>
                    <div class="btn btn-success">Mua ngay</div>
                </div>
            </div> 
        </div>
    </div>
</div>
<app-footer></app-footer>